:root {
  --color-dark: #1F2937;
  --color-light: #F9FAF8;
  --color-secondary: #E5E7EB;
  --color-accent: #3882F6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 8px 30px;
  text-align: center;
  font-weight: 700;
  color: var(--color-light);
  border-radius: 10px;
}

.top {
  background-color: var(--color-dark);
}

.header {
  padding: 15px 0;
  margin-bottom: 80px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo,
.hero__title {
  color: var(--color-light);
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav__link,
.hero__text {
  color: var(--color-secondary);
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  padding-bottom: 150px;
}

.hero__inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.hero__content {
  max-width: 450px;
}

.hero__title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero__text {
  font-size: 18px;
  margin: 0 0 15px;
}

.hero__link {
  background-color: var(--color-accent);
}

.hero__img {
  width: 50%;
  height: 250px;
}

.info {
  padding: 50px 0 100px;
}

.info__title {
  margin: 0 0 50px;
  font-size: 36px;
  font-weight: 900;
  color: var(--color-dark);
  text-align: center;
}

.info__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.info__item {
  width: 180px;
}

.info__img {
  width: 100%;
  aspect-ratio: 1/1;
  border: 5px solid var(--color-accent);
  border-radius: 15px;
  margin-bottom: 15px;
}

.info__text {
  margin: 0;
  text-align: center;
}

@media (max-width: 700px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero__inner {
    flex-direction: column-reverse;
  }
  .hero__content {
    max-width: 100%;
  }
  .hero__img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 50px;
  }
  .header__inner {
    flex-direction: column;
  }
  .nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero {
    padding-bottom: 50px;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__text {
    font-size: 16px;
  }
  .info {
    padding: 50px 0;
  }
  .info__title {
    font-size: 24px;
  }
  .info__list {
    gap: 20px;
  }
  .info__item {
    width: min(300px, 100%)
  }
}